<h1>Reservations</h1>
<% @user.reservations.each do |r| %>
  <% flight = Flight.find r.flight_id %>
  <h5><%= flight.flight_number %> <%= flight.origin %> <%= flight.destination %></h5>
<%= link_to('Cancel Booking.', user_reservation_path(id: r.id, user_id: @user.id), :method => 'delete', :data => {:confirm => 'Are you sure you want to cancel?'} ) %>
<% end %>

<hr>
<%= link_to 'Back', root_path %>

<h1>Editing User</h1>
<%= render 'form' %>
